body{
  margin: 0px;
  padding: 1rem;
}

button{
  margin: 1rem 1rem 1rem 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-Breeds{
  background-color: lightblue;
}
.btn-Favorite{
  background-color: lightcoral;
}